/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.angular-onscreen-keyboard {
  position: absolute;
  left: 50px;
  z-index: 2;
}
