.demo-app {
  width: 500px;

  .some-input {
    width: 100%
  }

  .demo-button {
    margin-top: 50px;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 260px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
